In [3]:
import numpy as np
#1) Create Two numpy array of size 3 X 2 and 2 X 3
#2) Randomly Initalize that array
a = np.array([[1, 2, 5], [3, 4, 8]])
b = np.array([[7, 3], [2, 8], [5,1]])
print(a)
print()
print(b)

[[1 2 5]
 [3 4 8]]

[[7 3]
 [2 8]
 [5 1]]

In [4]:
#3) Perform matrix multiplication
x = np.dot(b, a)
y = np.dot(a, b)
print(x)
print()
print(y)

[[16 26 59]
 [26 36 74]
 [ 8 14 33]]

[[36 24]
 [69 49]]

In [5]:
#4) Perform elementwise matrix multiplication
#it will produce error as parameters are not of same size
p=a*b
q=b*a
print(p)
print()
print(q)

ValueError: ignored

In [6]:
#but we can perform multiplication of them with another matrix of same size or scalers
p = np.array([[1,1,2],[2,2,6]])
print(p*a)
print()
print(5*b)

[[ 1  2 10]
 [ 6  8 48]]

[[35 15]
 [10 40]
 [25  5]]

In [8]:
#5) Find mean of first matrix
mean = np.mean(b)
meanByCols = np.mean(b, axis=0)
meanByRows = np.mean(b, axis=1)
print('mean',mean)
print()
print('meanByCols',meanByCols)
print()
print('meanByRows',meanByRows)

mean 4.333333333333333

meanByCols [4.66666667 4.        ]

meanByRows [5. 5. 3.]

In [15]:
#6) Convert Numeric entries(columns) of mtcars.csv to Mean Centered Version
import pandas as pd
a=pd.read_csv('/content/mtcars.csv')
print(a)
a['mpg'] = a['mpg'] - np.mean(a['mpg'], axis=0)
a['cyl'] = a['cyl'] - np.mean(a['cyl'], axis=0)
a['disp'] = a['disp'] - np.mean(a['disp'], axis=0)
a['hp'] = a['hp'] - np.mean(a['hp'], axis=0)
a['drat'] = a['drat'] - np.mean(a['drat'], axis=0)
a['wt'] = a['wt'] - np.mean(a['wt'], axis=0)
a['qsec'] = a['qsec'] - np.mean(a['qsec'], axis=0)
a['vs'] = a['vs'] - np.mean(a['vs'], axis=0)
a['am'] = a['am'] - np.mean(a['am'], axis=0)
a['gear'] = a['gear'] - np.mean(a['gear'], axis=0)
a['carb'] = a['carb'] - np.mean(a['carb'], axis=0)
print()
print(a)

                  model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0             Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1         Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2            Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3        Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4     Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2
5               Valiant  18.1    6  225.0  105  ...  20.22   1   0     3     1
6            Duster 360  14.3    8  360.0  245  ...  15.84   0   0     3     4
7             Merc 240D  24.4    4  146.7   62  ...  20.00   1   0     4     2
8              Merc 230  22.8    4  140.8   95  ...  22.90   1   0     4     2
9              Merc 280  19.2    6  167.6  123  ...  18.30   1   0     4     4
10            Merc 280C  17.8    6  167.6  123  ...  18.90   1   0     4     4
11           Merc 450SE  16.4    8  275.8  180  ...  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  ...  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  ...  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  ...  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  ...  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  ...  17.42   0   0     3     4
17             Fiat 128  32.4    4   78.7   66  ...  19.47   1   1     4     1
18          Honda Civic  30.4    4   75.7   52  ...  18.52   1   1     4     2
19       Toyota Corolla  33.9    4   71.1   65  ...  19.90   1   1     4     1
20        Toyota Corona  21.5    4  120.1   97  ...  20.01   1   0     3     1
21     Dodge Challenger  15.5    8  318.0  150  ...  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  ...  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  ...  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  ...  17.05   0   0     3     2
25            Fiat X1-9  27.3    4   79.0   66  ...  18.90   1   1     4     1
26        Porsche 914-2  26.0    4  120.3   91  ...  16.70   0   1     5     2
27         Lotus Europa  30.4    4   95.1  113  ...  16.90   1   1     5     2
28       Ford Pantera L  15.8    8  351.0  264  ...  14.50   0   1     5     4
29         Ferrari Dino  19.7    6  145.0  175  ...  15.50   0   1     5     6
30        Maserati Bora  15.0    8  301.0  335  ...  14.60   0   1     5     8
31           Volvo 142E  21.4    4  121.0  109  ...  18.60   1   1     4     2

[32 rows x 12 columns]

                  model        mpg     cyl  ...       am    gear    carb
0             Mazda RX4   0.909375 -0.1875  ...  0.59375  0.3125  1.1875
1         Mazda RX4 Wag   0.909375 -0.1875  ...  0.59375  0.3125  1.1875
2            Datsun 710   2.709375 -2.1875  ...  0.59375  0.3125 -1.8125
3        Hornet 4 Drive   1.309375 -0.1875  ... -0.40625 -0.6875 -1.8125
4     Hornet Sportabout  -1.390625  1.8125  ... -0.40625 -0.6875 -0.8125
5               Valiant  -1.990625 -0.1875  ... -0.40625 -0.6875 -1.8125
6            Duster 360  -5.790625  1.8125  ... -0.40625 -0.6875  1.1875
7             Merc 240D   4.309375 -2.1875  ... -0.40625  0.3125 -0.8125
8              Merc 230   2.709375 -2.1875  ... -0.40625  0.3125 -0.8125
9              Merc 280  -0.890625 -0.1875  ... -0.40625  0.3125  1.1875
10            Merc 280C  -2.290625 -0.1875  ... -0.40625  0.3125  1.1875
11           Merc 450SE  -3.690625  1.8125  ... -0.40625 -0.6875  0.1875
12           Merc 450SL  -2.790625  1.8125  ... -0.40625 -0.6875  0.1875
13          Merc 450SLC  -4.890625  1.8125  ... -0.40625 -0.6875  0.1875
14   Cadillac Fleetwood  -9.690625  1.8125  ... -0.40625 -0.6875  1.1875
15  Lincoln Continental  -9.690625  1.8125  ... -0.40625 -0.6875  1.1875
16    Chrysler Imperial  -5.390625  1.8125  ... -0.40625 -0.6875  1.1875
17             Fiat 128  12.309375 -2.1875  ...  0.59375  0.3125 -1.8125
18          Honda Civic  10.309375 -2.1875  ...  0.59375  0.3125 -0.8125
19       Toyota Corolla  13.809375 -2.1875  ...  0.59375  0.3125 -1.8125
20        Toyota Corona   1.409375 -2.1875  ... -0.40625 -0.6875 -1.8125
21     Dodge Challenger  -4.590625  1.8125  ... -0.40625 -0.6875 -0.8125
22          AMC Javelin  -4.890625  1.8125  ... -0.40625 -0.6875 -0.8125
23           Camaro Z28  -6.790625  1.8125  ... -0.40625 -0.6875  1.1875
24     Pontiac Firebird  -0.890625  1.8125  ... -0.40625 -0.6875 -0.8125
25            Fiat X1-9   7.209375 -2.1875  ...  0.59375  0.3125 -1.8125
26        Porsche 914-2   5.909375 -2.1875  ...  0.59375  1.3125 -0.8125
27         Lotus Europa  10.309375 -2.1875  ...  0.59375  1.3125 -0.8125
28       Ford Pantera L  -4.290625  1.8125  ...  0.59375  1.3125  1.1875
29         Ferrari Dino  -0.390625 -0.1875  ...  0.59375  1.3125  3.1875
30        Maserati Bora  -5.090625  1.8125  ...  0.59375  1.3125  5.1875
31           Volvo 142E   1.309375 -2.1875  ...  0.59375  0.3125 -0.8125

[32 rows x 12 columns]